<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Marco Cedaro",
    "alternateName": "cedmax",
    "image": "http://cedmax.com/img/me4.<%= cacheVersion %>.jpg",
    "jobTitle": "Tech Lead",
    "memberOf": {
      "@type": "Organization",
      "name": "RedThreads",
      "url": "https://redthreads.net"
    },
    "worksFor": {
      "@type": "Organization",
      "name": "Condé Nast International",
      "url": "https://www.condenastinternational.com/"
    },
    "url": [
      "http://twitter.com/cedmax",
      "http://www.facebook.com/cedmax",
      "http://cedmax.net",
      "http://www.github.com/cedmax",
      "http://www.speakerdeck.com/cedmax",
      "http://www.linkedin.com/in/cedmax",
      "http://www.last.fm/user/cedmax",
      "http://dsgn.it",
      "http://karma.cedmax.net"
    ]
  }
</script>
