 <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Marco Cedaro",
        "alternateName": "cedmax",
        "image": "http://cedmax.com/img/me4.<%= cacheVersion %>.jpg",
        "jobTitle": "Frontend Developer",
        "memberOf": {
            "@type": "Organization",
            "name": "From The Front",
            "url": "http://fromthefront.it"
        },
        "worksFor": {
            "@type": "Organization",
            "name": "Shazam",
            "url": "http://www.shazam.com"
        },
        "url":[
            "http://twitter.com/cedmax",
            "http://www.facebook.com/cedmax",
            "http://cedmax.net",
            "http://www.github.com/cedmax",
            "http://www.speakerdeck.com/cedmax",
            "http://www.linkedin.com/in/cedmax",
            "http://www.last.fm/user/cedmax",
            "http://bearded.net",
            "http://karma.cedmax.net"
        ]
    }
</script>