.scl.linkedin-32x32 {
  background: url('img/used-icons/linkedin-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.facebook-32x32 {
  background: url('img/used-icons/facebook-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.foursquare-32x32 {
  background: url('img/used-icons/foursquare-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.github-32x32 {
  background: url('img/used-icons/github-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.google-32x32 {
  background: url('img/used-icons/google-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.instagram-32x32 {
  background: url('img/used-icons/instagram-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.lanyrd-32x32 {
  background: url('img/used-icons/lanyrd-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.lastfm-32x32 {
  background: url('img/used-icons/lastfm-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.feed-32x32 {
  background: url('img/used-icons/feed-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.slideshare-32x32 {
  background: url('img/used-icons/slideshare-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.soundcloud-32x32 {
  background: url('img/used-icons/soundcloud-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.speakerdeck-32x32 {
  background: url('img/used-icons/speakerdeck-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.tumblr-32x32 {
  background: url('img/used-icons/tumblr-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.twitter-32x32 {
  background: url('img/used-icons/twitter-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.vimeo-32x32 {
  background: url('img/used-icons/vimeo-32x32.png');
  width: 32px;
  height: 32px;
}

.scl.website-32x32 {
  background: url('img/used-icons/website-32x32.png');
  width: 32px;
  height: 32px;
}

