.facebook {
  background-color: #3B5998;
  box-shadow: 3px 3px 0 #263961;
}
.feed {
  background-color: #FFA500;
  box-shadow: 3px 3px 0 rgba(179,116,0, .8);
}
.github {
  background-color: #181717;
  box-shadow: 3px 3px 0 rgba(0,0,0, .8);
}
.instagram {
  background-color: #E4405F;
  box-shadow: 3px 3px 0 rgba(189,27,57, .8);
}
.lastfm {
  background-color: #D51007;
  box-shadow: 3px 3px 0 rgba(139,10,5, .8);
}
.linkedin {
  background-color: #0077B5;
  box-shadow: 3px 3px 0 rgba(0,69,105, .8);
}
.speakerdeck {
  background-color: #339966;
  box-shadow: 3px 3px 0 rgba(32,96,64, .8);
}
.tumblr {
  background-color: #36465D;
  box-shadow: 3px 3px 0 rgba(26,34,45, .8);
}
.twitter {
  background-color: #1DA1F2;
  box-shadow: 3px 3px 0 rgba(11,118,184, .8);
}
.dsgn {
  background-color: #CC171E;
  box-shadow: 3px 3px 0 rgba(135,15,20, .8);
}

.dsgn svg {
  margin: -4px;
}
