/*
	### RESETS ###
*/

* {
	box-sizing:border-box;
}

div, ol, ul, li, body, html, img, nav, h1, h2, h3 {
	margin:0;
	padding:0;
	border:0;
}

ul,li {
	list-style-type:none;
}

li {
	display:inline
}

html, body, header {
	height: 100%;
}

body {
	background:#111;
	color:#fff;
	font:11pt "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow:#000 0 1px 0;
	line-height:200%;
	overflow-x: hidden
}

a,a:visited {
	color:#fff
}

svg {
	width: 450px;
	height: 362px;
	max-width: 90%;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate3d(-50%,-50%,0);
}

/*
	### MAIN ###
*/


main {
	background: rgba(0,0,0,.6);
	overflow: hidden;
	position: relative;
	width:100%;
}

main canvas {
	position: absolute;
	z-index: -1;
	width:100%!important;
	max-width: 100%;
}

h1, h3 {
	text-align: center;
	padding: 0 35px;
	font-family:credit;
	text-shadow: 2px 2px 0px #000;
}

h1 {
	font-size:250%;
	padding-top:35px;
}

.bio {
	max-width: 490px;
	margin: auto;
	text-align: center;
	line-height: 1.5;
	padding: 17.5px 35px 35px;
}

ol {
	width: 100%;
	background:rgba(255,255,255,.1);
	padding:35px;
	align-content: stretch;
	align-items: flex-start;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.year {
	flex: 1 1 170px;
	margin: 10px 10px 20px;
	max-width: 200px;
	min-width: 170px;
	pading-top:100%;
	position: relative;
}

.year::before {
	content:'';
	width:100%;
	padding-top:100%;
	display: block;
}

.year > div {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.year--filler {
	visibility: hidden;
	height: 0;margin-top:0;margin-bottom: 0
}

.year:nth-child(5n-4) .front { background:#FF548F;}
.year:nth-child(5n-3) .front { background:#9061C2;}
.year:nth-child(5n-2) .front { background:#BA0C00;}
.year:nth-child(5n-1) .front { background:#FFB03B;}
.year:nth-child(5n) .front { background:#02779E;}

.when {
	font-family:credit;
	text-shadow: 2px 2px 0px #000;
	display: flex;
	align-self:center;
	font-size:300%;
}

.what {
	font-family: credit, at;
	align-content: stretch;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content:center;
	justify-content:center;
	height: 100%;
	flex-flow: column nowrap;
	width: 100%;
	background:rgba(0,0,0,0.3);
	padding:7px;
}

.what small {
	line-height: 1.5;
	display: inline-block;
}

.what span {
	font-size:200%;
}

.what li {
	width: 100%;
	text-align: center;
	line-height: 1.2;
	flex: 1 1 30%;
	align-self: center;
	align-content: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.what li:first-child {
	flex: 1 1 50%;
}

.what.even li {
	flex: 1 1 50%;
}

.what svg {
	margin:auto;
}

/*
	### FULLSCREEN BG & NAV ###
*/

#backstretch {
	background:url(img/progress.gif) no-repeat center center
}

nav {
	position:absolute;
	background:rgba(0,0,0,0.40);
	bottom:35px;
	left:35px;
	text-align:left;
	width:190px;
	max-width:80%;
	border-radius:12px 12px 12px 0;
	overflow:hidden;
	z-index:1
}

.backstretch-left nav {
	right:35px;
	left:auto;
	border-radius:12px 12px 0 12px;
}

nav ul {
	overflow:hidden;
	padding:28px 25px 25px;
	text-align: center;
}

.scl {
  display: inline-block;
  margin:5px;
  text-indent: -40em;
}

div[style*='999999'] {
	z-index: -1!important;
}


div[style*='-999999'] {
	z-index: -999999!important;
}

/*
	### FOOTER ###
*/

footer {
	text-align:right;
	font-size:72%;
	background:rgb(0,0,0);
	color:#ddd;
	padding:1px 35px;
	opacity:0.4;
}


.backstretch-left footer {
	text-align:left
}

/*
	### TOOLTIP ###
*/

.defaultTheme {
	position:absolute;
	display:none;
	z-index:50000;
	border:2px solid #444;
	background:#555;
	color:#fff;
	border-radius:0 12px 12px 12px;
	box-shadow:2px 2px 5px #111;
	margin:0;
	padding:3px 5px;
}

.defaultTheme .aToolTipContent {
	position:relative;
	margin:0;
	padding:0 5px
}


/*
	### NOTIFIER ###
*/


.smoke-base {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	visibility:hidden;
	z-index:100000;
	opacity:0;
	-moz-transition:all .3s;
	-webkit-transition:opacity .3s;
	transition:all .3s;
	background:0
}

.smoke-base.smoke-visible {
	opacity:1;
	visibility:visible
}

.smoke-base .dialog {
	position:absolute;
	top:15%;
	left:0;
	width:100%
}

.smoke {
	text-align:center;
	line-height:130%;
	text-transform:none;
	color:#eee;
	font-weight:400;
	background-color:rgba(0,0,0,.75);
	font-size:35px;
	border-radius:0
}

.smoke-base .dialog-inner {
	padding:15px
}

/*
	### CREDITS ###
*/

.credits {
	display: none;
}

#webcredits-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .75);
	opacity: 0;
}

#webcredits-content, #webcredits-content *{
	font-family: credit;
	letter-spacing: 4px;
	line-height: 120%;
}

#webcredits-content{
	position: absolute;
	width: 100%;
	font-size: 10px;
	opacity: 0;
}

#webcredits-container, #webcredits-content{
	-webkit-transition: opacity 500ms linear;
	-moz-transition: opacity 500ms linear;
	transition: opacity 500ms linear;
}

.credits__title {
	font-family:credit;
	text-shadow: 2px 2px 0px #000;
	font-size:300%;
	color: #fff;
}

#webcredits-container h1 {
	display: flex;
	align-self:center;
}

#webcredits-container h2{
	text-align: center;
	display: block;
	float: none;
	width: 100%;
}
#webcredits-container h3{
	text-align: center;
	display: block;
	float: none;
	width: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.credits__block {
	width: 80%;
	margin: auto;
	font-size: 3vw;
	position: relative;
	margin-bottom:12vw;
	text-align: center;
	overflow: hidden;
}

.credits__block a, .credits__block a:visited, .credits__block a:hover {
	color:#d0d0d0;
	text-decoration: none;
}

#webcredits-container strong {
	color:#fff;
}

.full-screen {
	position: relative;
}

.full-screen div{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.full-screen small {
	position: absolute;
	bottom:20px;
	text-align: center;
	width:100%;
	color:#fff;
}

.full-screen a, .full-screen a:visited {
	color:#fff;
	text-decoration: underline;
}


.full-screen img {
	width:75%;
	max-width:250px;
	position: absolute;
	top: 50%;left:50%;
	transform: translateY(-50%) translateX(-50%);
	border-radius: 50%;
	box-shadow: 0px 0px 5px rgba(0,0,0,.9);
	opacity: .8;
}


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	transform-style: preserve-3d;
}
	/*  UPDATED! flip the pane when hovered */
	.flip-container:hover .back {
		transform: rotateY(0deg);
	}
	.flip-container:hover .front {
	    transform: rotateY(180deg);
	}



/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow:3px 3px 0px rgba(0,0,0,.8);
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
}

/*
	Some vertical flip updates
*/

.flip-container:nth-child(2n) .back {
	transform: rotateX(180deg);
}

.flip-container:nth-child(2n):hover .back {
    transform: rotateX(0deg);
}

.flip-container:nth-child(2n):hover .front {
    transform: rotateX(180deg);
}
